.cardWorker {
    margin-top: 20px;
    padding: 0px 20px;
    padding-top: 15px;
    width: 640px;
    min-height: 300px;
    border-radius: 30px;
    border: 2px solid $orange;
    // background: #dedede;
    &__buttons {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    &__dop {
        margin-top: 10px;
    }
    &__adres {
        margin-top: 15px;
    }
    &__date {
        margin-top: 10px;
    }
    &_completed {
        border: 0;
        background: #dedede;
    }
}